header{
    background-image: url(../imgs/pattern.png);
    background-size: contain;
    background-color: #4ea0ff;
}

header img{
    height: 150px;
    width: 200px;
    display: block;
}

span{
    color: #4ea0ff;
    text-decoration: none;
}

#small1{
    font-size: 10px;
}